{{#if hasNoOrders}}
<h1>No orders available</h1>
{{else}}
<ul>
    {{#each orders}}
    <li>
        <h1># {{order.id}}</h1>
        <ul>
            {{#each products}}
            <li>
                <p>{{product.title}}</p>
                <p>Quantity: {{quantity}}</p>
            </li>
            {{/each}}
        </ul>
        {{!-- <form action="/cart-remove-item" method="post">
            <button class="btn danger" type="submit">Remove</button>
            <input type="hidden" name="productId" value="{{product.id}}">
        </form> --}}

    </li>
    {{/each}}
</ul>
{{!-- <div class="centered checkout">
    <form action="/checkout" method="post">
        <button class="btn" type="submit">Checkout</button>
    </form>
</div> --}}

{{/if}}